 //META{"name":"all images spin","description":"makes images very spinny","author":"anne :>","version":"1.0"}*//{}
img {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
