//META{"name":"flipped_images","description":"Makes all avatars rounded squares <span style='position: absolute; bottom: 0; right: 14px;'>By <b><a href='https://github.com/Zerthox' target='_blank'>@Zerthox</a></b></span>","author":"Zerthox","version":"1.0"}*//{}



img {
	transform: rotate(180deg);
} 
