//META{"name":"Rounded_Square_Avatars","description":"makes pfps not round","author":"anne :>","version":"1.0"}*//{}


/*foreignObject[mask="url(#svg-mask-avatar-status-round-32)"] {
	display: none;
}
foreignObject[mask="url(#svg-mask-avatar-status-round-32)"] * {
	display: block;
}*/


/*// change this to some other thing if u dont like rounded corners*/
.da-avatar,
.da-icon {
	border-radius: 10% !important;
}
